{% load static from staticfiles %}
<!-- LIBRARY JS-->
  <script src="/static/assets/libs/jquery/jquery-2.2.3.min.js"></script>
  <script src="/static/assets/libs/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/assets/libs/bootstrap-timepicker/jquery.timepicker.js"></script>
  <script src="/static/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
  <script src="/static/assets/libs/smooth-scroll/jquery-smoothscroll.js"></script>
  <script src="/static/assets/libs/slick-slider/slick.min.js"></script>
  <script src="/static/assets/libs/wow-js/wow.min.js"></script>
        <!-- MAIN JS-->
  <script src="/static/assets/js/main.js">
  </script>
        <!-- LOADING SCRIPTS FOR PAGE-->
  <script src="/static/assets/js/pages/homepage.js"></script>
  <script src="/static/assets/libs/background-video/video-bg.js"></script>
  <script src="/static/assets/js/pages/coming-soon.js"></script>
  <script src="/static/assets/libs/parallax/jquery.parallax-scroll.js"></script>